<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Developed and maintained by Brutto Zhao</a>
    <a href="https://www.linkedin.com/in/hongtao-zhao-b92a14147"><i class="fab fa-linkedin style="font-size:120px;color:#2196F3""></i></a>
</nav>
