<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Developed and maintained by Brutto Zhao</a>
    <a href="https://www.linkedin.com/in/hongtao-zhao-b92a14147">
        <i class="fab fa-linkedin" style="font-size:40px;color:#1568f3;position: fixed;bottom: 8px;right:80px"></i>
    </a>
    <a href="https://www.github.com/bruttozz">
        <i class="fab fa-github" style="font-size:40px;color:rgba(0,0,0,1);position: fixed;bottom: 8px;right: 20px;"></i>
    </a>
</nav>
