<div id="about_body">
    <h1 style="font-family: fantasy">About Brutto</h1>
    <br>
    <div style="font-family: monospace; font-size: 20px; margin-left: 100px; margin-right: 100px; color: #ff2f3c">
        <p>A software engineer, part-time photographer living in the United States. He likes traveling, driving, investing and coding😜</p>
        <p>He has been to several countries but his partner changes every time.
            So he really needs someone to explore the wonderful world together in the future</p>
        <p>If you have any interest please head to the "Contact Page" to send him a message!</p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
