<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body id="home_body">
    <div class="container">
        <h1 style="font-family: fantasy">My Foot Print 🦶🚗 ✈️</h1>
        <br>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe
                        width="800"
                        height="560"
                        id="gmap_canvas"
                        src="https://maps.google.com/maps?q=boston&t=&z=3&ie=UTF8&iwloc=&output=embed"
                        frameborder="0"
                        scrolling="yes"
                        marginheight="0"
                        marginwidth="0">
                </iframe>
            </div>
        </div>
        <br><br>
        <div>
            <iframe
                    width="270"
                    height="152"
                    src="https://www.youtube.com/embed/bvr8vcCKDPU"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
            <iframe
                    width="270"
                    height="152"
                    src="https://www.youtube.com/embed/4-mpYiWK3yU"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
            <iframe
                    width="270"
                    height="152"
                    src="https://www.youtube.com/embed/OzYM5dMU1YM"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
            <iframe
                    width="270"
                    height="152"
                    src="https://www.youtube.com/embed/qDnbOp81x0s"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
        <br><br><br><br><br><br>
    </div>
</body>
</html>
