<div class="container">
    <h1>Portfolio Page</h1>
</div>
<div id="resume_head">
    <h3>Brutto Zhao</h3>
    <br>
    <h5>84 Gardner St. Allston, MA, 02134 | Tel: 617-800-7047 | Email: hongtaozhaobu@gmail.com</h5>
    <br>
    <div id="resume_head_links">
        <a href="https://www.linkedin.com/in/hongtao-zhao-b92a14147">
            LinkedIn
        </a>
        <a href="https://www.github.com/bruttozz">
            GitHub
        </a>
    </div>
</div>
<div id="resume_introduction">

</div>
