<div class="container">
    <h1>Portfolio Page</h1>
</div>
<div id="resume_head">
    <h2>Brutto Zhao</h2>
    <p id="resume_personal_informations">84 Gardner St. Allston, MA, 02134 | Tel: 617-800-7047 | Email: hongtaozhaobu@gmail.com</p>
<!--    <div id="resume_head_links">-->
<!--        <a href="https://www.linkedin.com/in/hongtao-zhao-b92a14147">-->
<!--            LinkedIn-->
<!--        </a>-->
<!--        <a href="https://www.github.com/bruttozz">-->
<!--            GitHub-->
<!--        </a>-->
<!--    </div>-->
</div>
<div id="resume_objective">
    <div id="resume_objective_title">
        <h4 style="font-family: monospace; font-weight: bold">Objective</h4>
    </div>
    <div id="resume_objective_content";>
        <p>Recently graduated student with M.S. degree from Boston University College of Engineering. Proficient in Java,
            JavaScript, Spring and full stack web development. Looking for entry level fulltime opportunities</p>
    </div>
</div>
<div id="resume_education">
    <div id="resume_education_title">
        <h4 style="font-family: monospace; font-weight: bold">Education</h4>
    </div>
    <div id="resume_education_content">
        <pre><span style="font-weight: bold">Boston University</span>[Master of Science: Electrical and Computer Engineering, Boston, USA]       <span class="time_period">09/2017 – 05/2019</span></pre>
        <p style="line-height: 0.1rem">Major courses: Advanced Data Structure, Cloud Computing, Android Development, MEAN Stack Development</p>
        <pre><span style="font-weight: bold">Xiangtan University</span>[Bachelor of Science: Electrical and Information Engineering, China]      <span class="time_period">09/2012 – 06/2016</span></pre>
    </div>
</div>
<div id="resume_experience">
    <div id="resume_experience_title">
        <h4 style="font-family: monospace; font-weight: bold">Relevant Experience</h4>
    </div>
    <div id="resume_experience_content">
        <pre><span style="font-weight: bold">Software Engineer Intern — China Merchants Bank.</span> Shenzhen, China      06/2018 – 08/2018</pre>
        <p style="font-style: italic; line-height: 1px">Designed a lottery and deposit system to pick the lucky buyers during less empty units availability</p>
        <ul>
            <li>Led front-end banner page design and implemented with HTML5, CSS, JavaScript</li>
            <li>Worked in a group of eight engineers on API design and controllers for lottery and deposit system with Java Spring MVC</li>
            <li>Implemented users’ account balance alert feature with MySQL as the first step of users’ lottery applications</li>
            <li>Added Unit Test and achieved over 90% unit test coverage for various features</li>
        </ul>
    </div>
</div>
