<div class="container">
    <h1>Portfolio Page</h1>
</div>
<div id="resume_head">
    <h2>Brutto Zhao</h2>
    <p id="resume_personal_informations">84 Gardner St. Allston, MA, 02134 | Tel: 617-800-7047 | Email: hongtaozhaobu@gmail.com</p>
<!--    <div id="resume_head_links">-->
<!--        <a href="https://www.linkedin.com/in/hongtao-zhao-b92a14147">-->
<!--            LinkedIn-->
<!--        </a>-->
<!--        <a href="https://www.github.com/bruttozz">-->
<!--            GitHub-->
<!--        </a>-->
<!--    </div>-->
</div>
<div id="resume_objective">
    <div id="resume_objective_title">
        <h4 style="font-family: monospace; font-weight: bold">Objective</h4>
    </div>
    <div id="resume_objective_content";>
        <p>Recently graduated student with M.S. degree from Boston University College of Engineering. Proficient in Java,
            JavaScript, Spring and full stack web development. Looking for entry level fulltime opportunities</p>
    </div>
</div>
<div id="resume_education">
    <div id="resume_education_title">
        <h4 style="font-family: monospace; font-weight: bold">Education</h4>
    </div>
    <div id="resume_education_content">
        <pre><span style="font-weight: bold">Boston University</span>[Master of Science: Electrical and Computer Engineering, Boston, USA]       <span class="time_period">09/2017 – 05/2019</span></pre>
        <p style="line-height: 0.1rem">Major courses: Advanced Data Structure, Cloud Computing, Android Development, MEAN Stack Development</p>
        <pre><span style="font-weight: bold">Xiangtan University</span>[Bachelor of Science: Electrical and Information Engineering, China]      <span class="time_period">09/2012 – 06/2016</span></pre>
    </div>
</div>
<div id="resume_experience">
    <div id="resume_experience_title">
        <h4 style="font-family: monospace; font-weight: bold">Relevant Experience</h4>
    </div>
    <div id="resume_experience_content">
        <pre><span style="font-weight: bold; line-height: 1px">Software Engineer Intern — China Merchants Bank.</span> Shenzhen, China                        06/2018 – 08/2018</pre>
        <p style="font-style: italic; position: relative; margin-top: 0; margin-bottom: 0">Designed a lottery and deposit system to pick the lucky buyers during less empty units availability</p>
        <ul>
            <li>Led front-end banner page design and implemented with HTML5, CSS, JavaScript</li>
            <li>Worked in a group of eight engineers on API design and controllers for lottery and deposit system with Java Spring MVC</li>
            <li>Implemented users’ account balance alert feature with MySQL as the first step of users’ lottery applications</li>
            <li>Added Unit Test and achieved over 90% unit test coverage for various features</li>
        </ul>
    </div>
</div>
<div id="resume_projects">
    <div id="resume_projects_title">
        <h4 style="font-family: monospace; font-weight: bold">Projects</h4>
    </div>
    <div id="resume_experience_content">
        <pre><span style="font-weight: bold">Intermediate Rental Management Website</span>                                                  04/2019 – present</pre>
        <p style="font-style: italic; position: relative; margin-top: 0; margin-bottom: 0">Designed and developed a real estate web application with Node.js for international students to make easy comparisons between different prices renting houses or apartments (Github: github.com/bruttozz/real-estate-website)</p>
        <ul>
            <li>Implemented home page by displaying different housing options in reusable Angular components using TypeScript</li>
            <li>Utilized Firebase integrated with OAuth2 for authentication through Google, WeChat and Facebook</li>
            <li>Provided a real-time chat feature using Firebase to help tenants communicate with landlords for detailed information</li>
            <li>Integrated Google Map API to display the apartment’s location in a more visually appealing manner</li>
        </ul>
        <pre><span style="font-weight: bold">Airmules</span>                                                                                02/2018 – 12/2018</pre>
        <p style="font-style: italic; position: relative; margin-top: 0; margin-bottom: 0">Led a PHP web application design to match travelers who have extra space in their luggage with requesters who need their items to be carried internationally (Github: github.com/bruttozz/airmules-android-app)</p>
        <ul>
            <li>Implemented requesters-to-travelers matching algorithm with querying MySQL and result display feature with PHP</li>
            <li>Designed the Android App’s business workflow and implemented user rating system, travelers with top rating will always get higher priority during matching</li>
            <li>Integrated WeChatPay and AliPay into Android App to provide payment feature, and improved requesters’ user experience by calling real-time AviationEdge API for travelers’ trip progress</li>
            <li>Completed domain registration, DNS binding and deployed the application to AWS EC2 instances with WordPress</li>
        </ul>
        <pre><span style="font-weight: bold">Big Data Containers</span>                                                                     02/2018 – 05/2018</pre>
        <p style="font-style: italic; position: relative; margin-top: 0; margin-bottom: 0">Developed a broker to provide a user-friendly interface with Dataverse’s database and access datasets for use in containerized applications (Github: github.com/dataverse-broker/dataverse-broker)</p>
        <ul>
            <li>Generated dataverse-broker’s Docker Image, pushed it to a Quay.io repository and used the image to deploy the broker on Red Hat Openshift Container Platform</li>
            <li>Implemented a web application to enable data indexing for Dataverse’s sub-databases using Flask and Python</li>
            <li>Beta tested the application hosted locally with digging into related server error logs</li>
        </ul>
    </div>
</div>
<div id="resume_skills">
    <div id="resume_skills_title">
        <h4 style="font-family: monospace; font-weight: bold">Skills</h4>
    </div>
    <div id="resume_skills_content">
        <p>Programming Languages: Java, JavaScript, TypeScript, HTML, CSS, SQL, Go</p>
        <p>Technologies/Framework: Node.js, Angular, React.js, Express.js, jQuery, Ajax, RESTful API, AWS, Docker, K8s, MySQL, MongoDB, Firebase, Git, JUnit</p>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

