<div class="container">
    <h1>Portfolio Page</h1>
</div>
<div id="resume_head">
    <h3>Brutto Zhao</h3>
    <br>
    <h5>84 Gardner St. Allston, MA, 02134 | Tel: 617-800-7047 | Email: hongtaozhaobu@gmail.com</h5>
    <div id="resume_head_links">
        <a href="https://www.linkedin.com/in/hongtao-zhao-b92a14147">
            LinkedIn
        </a>
        <a href="https://www.github.com/bruttozz">
            GitHub
        </a>
    </div>
    <div id="resume_objective">
        <h4 style="font-family: monospace; position: relative; margin-right: 30px; padding: 50px;">Objective</h4>
        <p>Recently graduated student with M.S. degree from Boston University College of Engineering. Proficient in Java,
            JavaScript, Spring and full stack web development. Looking for entry level fulltime opportunities</p>
    </div>
</div>
<div id="resume_introduction">

</div>
