h1 {
    color: #c22946;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

h5 {
    color: #000;
    text-align: center;
}

.gmap_canvas {
    text-align: center;
}

.time_period {
    display: inline-block;
    position: relative;
    padding-right: 0;
    margin-right: 0;
    text-align: right;
}

#resume_personal_informations {
    font-size: 20px;
}

#resume_head {
    text-align: center;
}

/*#resume_head_links {*/
/*    text-align: center;*/
/*    font-family: "Apple Color Emoji";*/
/*}*/

#resume_objective_title {
    margin-left: 100px;
    font-size: 25px;
}

#resume_objective_content {
    margin-left: 100px;
    margin-right: 100px;
}

#resume_education_title {
    margin-left: 100px;
    font-size: 25px;
}

#resume_education_content {
    margin-left: 100px;
    margin-right: 100px;
}

#resume_experience_title {
    margin-left: 100px;
    font-size: 25px;
}

#resume_experience_content {
    margin-left: 100px;
    margin-right: 100px;
}

#resume_projects_title {
    margin-left: 100px;
    font-size: 25px;
}

#resume_projects_content {
    margin-left: 100px;
    margin-right: 100px;
}

#resume_skills {
    margin-left: 100px;
    margin-right: 100px;
}

#main {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*.fab fa-linkedin {*/
/*    font-size:96px;*/
/*}*/
