h1 {
    color: blue;
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

h5 {
    color: #000;
    text-align: center;
}

#resume_head {
    text-align: center;
}

#resume_head_links {
    text-align: center;
    font-family: "Apple Color Emoji";
}

#main {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*.fab fa-linkedin {*/
/*    font-size:96px;*/
/*}*/
